<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>
<body>
<a href="/customers">Back To Customers List</a>
<h1>Delete Customer</h1>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>ID: </td>
            <td th:text="${customer.getId()}"></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td th:text="${customer.getName()}"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td th:text="${customer.getEmail()}"></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td th:text="${customer.getAddress()}"></td>
        </tr>
    </table>
    <input type="submit" value="Delete">
</form>
</body>
</html>