<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>
<body>
<a href="/customers">Back to list</a>.
<p th:if="${message}" th:text="${message}"></p>
<form th:action="@{/create}" th:object="${customer}" method="post">
    <fieldset>
        <legend>Create Customer</legend>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" th:value="*{name}">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" th:value="*{email}">
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="address" th:value="*{address}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>